<header class="Header bg-danger sticky-top">
    <nav class="navbar navbar-expand-md navbar-light px-3">
        <div class="navbar-brand Brand-Logo">
            <img src="">
        </div>

        <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"><i class="bi bi-house-door-fill"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="bi bi-calendar2-plus-fill"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="bi bi-play-btn-fill"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="bi bi-person-hearts"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="bi bi-gift-fill"></i></a>
                </li>
            </ul>
        </div>
        <button class="Chat-Btn d-none d-md-block"><i class="bi bi-chat-square-dots"></i></button>
        <button class="Account d-none d-md-block"><i class="bi bi-person-fill"></i></button>
    </nav>
</header>

